@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
ion-content{
  --ion-background-color: rgb(179, 234, 255);
  text-align: center;
  font-family: 'Roboto', sans-serif;
}

ion-header{
  text-align: center;
} 

.btnCerrarSesion {
  margin-top: 30%;
  margin-bottom: 10%;
  width: 180px;
  height: 40px;
  border-radius: 10px;
  background: #3538ff;
  font-size: 15px;
}

.header{
  --ion-background-color: rgb(245, 162, 94);
  --background: linear-gradient(#3538ff, #ff4e4e);
}

.tituloHeader{
  text-align: center;
  font-size: 35px;
  font-weight: bold;
  color: black;
}

.fondo {
  width: 100%;
  height: 100%;
  font-family: 'Roboto', sans-serif;
}

.contenedorTitulo{
  width: 60%;
  background: linear-gradient(#ff4e4e,#3538ff);
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px;
  margin-top:22%;
}

.titulo{
  text-align: center;
  font-size: 35px;
  font-weight: bold;
  color: black;
}

.contenedorBotones {
  width: 100%;
  min-height: 50%;
  margin-top: 10%;
  text-align: center;
}


.botonChatA {
  width: 95%;
  height: 300px;
  -webkit-box-shadow: 10px 8px 19px -7px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 8px 19px -7px rgba(0, 0, 0, 0.75);
  box-shadow: 10px 8px 19px -7px rgba(0, 0, 0, 0.75);
  border-width: 3px;
  border-style: inset;
  border-color:rgb(66, 156, 66);
  font-size: 20px;
  border-radius: 10px;
  font-family: 'Roboto', sans-serif;
  background-image: url('/assets/lindas.jpg');
  background-size:100% 100%;
}

.botonChatB {
  margin-top: 10%;
  width: 95%;
  height: 300px;
  -webkit-box-shadow: 10px 8px 19px -7px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 8px 19px -7px rgba(0, 0, 0, 0.75);
  box-shadow: 10px 8px 19px -7px rgba(0, 0, 0, 0.75);
  border-width: 3px;
  border-style: inset;
  border-color:rgb(96, 46, 189);
  font-size: 20px;
  border-radius: 10px;
  font-family: 'Roboto', sans-serif;
  background-image: url('/assets/feas.jpg');
  background-size:100% 100%;
}

.iconoLike{
  width: 100px;
  margin-left:auto;
  margin-right: auto;
  margin-top:15%;
}