@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

ion-content{
    --ion-background-color: rgb(179, 234, 255);
    width: 100%;
    text-align: center;
}

.fondo {
    width: 100%;
    height: 100%;
    text-align: center;
}

.logo {
    width: 150px;
    margin-left:auto;
    margin-right:auto;
    margin-top: 5%;
}

.titulo {
    font-size: 35px;
    margin-top: 5%;
}

.contenedorGeneral {
    text-align: center;
    background-color: rgb(255, 78, 78);
    width: 80%;
    min-height:60%;
    margin-top: 5%;
    margin-left: 10%;
    border-radius: 20px;
    -webkit-box-shadow: 10px 8px 19px -7px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 10px 8px 19px -7px rgba(0, 0, 0, 0.75);
    box-shadow: 10px 8px 19px -7px rgba(0, 0, 0, 0.75);
    font-family: 'Roboto', sans-serif;
}

.contenedorInputs {
    margin-top: 13%;
    width: 100%;
    display: flex;
    justify-content: center;
}

ion-input {
    background-color: rgba(255, 255, 255, 0.781);
    border-radius: 10px;
    width: 100%;
    height: 60px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;
    margin-bottom: 5%;
    text-align: left;
    color: black;
    border-color: #3538ff;
    border-width: 2px;
    border-style: groove;
}

.botonEntrar {
    margin-top: 15%;
    width: 100%;
    height: 25%;
    border-radius: 10px;
    background: #3538ff;
    font-size: 20px;
}

.invalid {
    color: rgb(255, 255, 255);
    font-size: 15px;
    position: absolute;
    transform: translateX(-50%);
    width: 100%;
}

.btnVoice{
    border-radius: 50%;
    width: 22%;
    height: 10%;
    background: rgb(53, 56, 255);
    background: linear-gradient(0deg, rgba(53, 56, 255, 1) 0%, rgba(255, 78, 78, 1) 100%);
    margin-top:13%;
}

.btnVoice:active{
    transform: scale(0.9);
}

.iconVoice{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

/*.botonDiseño {
    border-radius: 20px;
    background: rgb(53, 56, 255);
    background: linear-gradient(0deg, rgba(53, 56, 255, 1) 0%, rgba(255, 78, 78, 1) 100%);
}*/
