<ion-content>
  <div class="fondo">
    <br>
    <ion-img src="/assets/app-icon.png" class="logo"></ion-img>
    <div class="contenedorGeneral">
      <br>
      <ion-title class="titulo">Iniciar Sesion</ion-title>
      <div class="contenedorInputs">
        <form [formGroup]="formLogin" (ngSubmit)="loguearse()">
          <ion-input placeholder="Correo" formControlName="email"></ion-input>
          <small class="invalid"
            *ngIf="formLogin.controls['email'].errors?.['required'] && formLogin.controls['email'].touched">
            <label>El correo es requerido</label>
          </small>
          <small *ngIf="formLogin.controls['email'].errors?.['email'] &&
                  formLogin.controls['email'].touched">
            <label class="invalid">El correo no tiene el formato correcto</label>
          </small>
          <br>
          <ion-input type="password" placeholder="Contraseña" formControlName="password"></ion-input>
          <small class="invalid"
            *ngIf="formLogin.controls['password'].errors?.['required'] && formLogin.controls['password'].touched">
            <label>La contraseña es requerida</label>
          </small><br>
          <button type="sumbit" class="botonEntrar">Entrar</button>
        </form>
      </div>
    </div>
    <button class="btnVoice">
      <ion-img src="assets/mic.svg" class="iconVoice" (click)="ingresoPorVoz()"></ion-img>
    </button>
  </div>
</ion-content>