<ion-content>
  <div class="fondo">
    <br>
    <ion-img src="/assets/app-icon.png" class="logo"></ion-img>
    <div class="contenedorGeneral">
      <br>
      <ion-title class="titulo">Iniciar Sesion</ion-title>
      <div class="contenedorInputs">
        <form [formGroup]="formLogin" (ngSubmit)="loguearse()" class="texto">
          <div>
            <ion-input placeholder="Correo" formControlName="email"></ion-input>
            <small class="invalid"
              *ngIf="formLogin.controls['email'].errors?.['required'] && formLogin.controls['email'].touched">
              <label>El correo es requerido</label>
            </small>
            <small *ngIf="formLogin.controls['email'].errors?.['email'] &&
                  formLogin.controls['email'].touched">
              <label class="invalid">El correo no tiene el formato correcto</label>
            </small>
          </div><br>
          <div>
            <ion-input type="password" placeholder="Contraseña" formControlName="password"></ion-input>
            <small class="invalid"
              *ngIf="formLogin.controls['password'].errors?.['required'] && formLogin.controls['password'].touched">
              <label>La contraseña es requerida</label>
            </small>
          </div>
          <!--ion-button type="sumbit" color="danger" fill="solid" class="botonEntrar" [disabled]="!formLogin.valid">Entrar</ion-button--><br>
          <button type="sumbit" class="botonEntrar">Entrar</button>
        </form>
      </div>
    </div>
    <div class="contenedorBotones">
      <div class="botones">
        <button class="botonDiseño"  (click)="logeoAutomatico('admin@admin.com','111111')"><ion-img src="/assets/user1-icon.png" class="iconoUsuario"></ion-img></button>
        <button class="botonDiseño" (click)="logeoAutomatico('invitado@invitado.com','222222')"><ion-img src="/assets/user2-icon.png" class="iconoUsuario" ></ion-img></button>
        <button class="botonDiseño" (click)="logeoAutomatico('usuario@usuario.com','333333')"><ion-img src="/assets/user3-icon.png" class="iconoUsuario" ></ion-img></button>
        
      </div>
    </div>
  </div>
</ion-content>