ion-content{
  --ion-background-color: rgb(179, 234, 255);
    text-align: center;
}

ion-header{
  text-align: center;
} 

.titulo{
  color: white;
}

.btnCerrarSesion {
  margin-top: 30%;
  margin-bottom: 10%;
  width: 180px;
  height: 40px;
  border-radius: 10px;
  background: #3538ff;
  font-size: 15px;
}