<ion-content>
  <div class="contenedorGeneral">
    <br>
    <ion-title class="titulo">Anti-Robo</ion-title>
    <ion-item class="displayUsuario">
      <ion-title class="email">{{authService.actualEmail}}</ion-title>
    </ion-item>
    
    <br>
    <ion-title class="titulo2" *ngIf="alarmOnOff == false">Activar Alarma</ion-title>
    <ion-title class="titulo3" *ngIf="alarmOnOff">Desactivar Alarma</ion-title>
    <div class="contenedorBoton">
      <ion-img src="/assets/buttonOff.png" class="botonPower" (click)="cambiarAlarma()" *ngIf="alarmOnOff == false"></ion-img>
      <ion-img src="/assets/buttonOn.png" class="botonPower" (click)="cambiarAlarma()" *ngIf="alarmOnOff"></ion-img>
    </div>
    <button class="btnLogout" (click)="logout()" *ngIf="alarmOnOff == false">Cerrar Sesión</button>
  </div>
 
</ion-content>
