@import url('https://fonts.googleapis.com/css2?family=Arvo&display=swap');
ion-content{
  --ion-background-color: rgb(255, 183, 116);
  text-align: center;
}

.contenedorGeneral{
  text-align: center;
  height: 100%;
  font-family: 'Arvo', serif;
}

.titulo{
  margin-top:10%;
  color:rgb(0, 0, 0);
  font-size: 45px;
}

.displayUsuario
{
  border-radius: 5px;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  background-color: #000000;
  margin-bottom: 10%;
  margin-top: 5%;
  text-align: center;
}


.email{
  font-size: 15px;
  color: white;
}

.titulo2{
  margin-top:10%;
  font-size: 30px;
  color: #ff3c35;
}

.titulo3{
  margin-top:10%;
  font-size: 30px;
  color: #0a9416;
}

.contenedorBoton{
  position: absolute;
  width: 100%;
}

.botonPower{
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.botonPower:active{
  transform: scale(0.9);
}

.btnLogout{
  position: relative;
  width: 60%;
  height: 60px;
  background-color: #ff3c35;
  top:50%;
}