ion-card {
    margin: 5%;
}

ion-card-subtitle {
    color: white;
}

.cosasLindas {
    background-color: rgb(66, 156, 66);
}

.cosasFeas {
    background-color: rgb(124, 82, 201);
}

.contenedorLikes {
    display: flex;
    align-items: center;
    justify-content: center;
}

.numeroLikes {
    color: white;
    margin-left: 1%;
    margin-top:1px;
}
