ion-content{
  --ion-background-color: rgb(255, 255, 255);
    text-align: center;
}

ion-header{
  text-align: center;
}

.titulo{
  color: white;
}

.btnCerrarSesion {
  margin-top: 100%;
  width: 180px;
  height: 40px;
  border-radius: 2px;
  background: #222428;
  font-size: 15px;
  color: white;
}