<ion-header>
  <ion-item color="primary">
    <ion-label class="titulo">Conversacion 4B</ion-label>
  </ion-item>
</ion-header>
<ion-content #content [scrollEvents]="true">
  <div class="chatCompleto">
    <div class="contenedorMensajes" id="contenedorMensajes">
      <div *ngFor="let mensaje of mensajes" class="cuadroMensaje"
        [ngClass]="(usuarioActual.usuarioId==mensaje.emisor)?'enviado' : 'recibido'">
        <ion-label class="usuarioMensaje" *ngIf="(usuarioActual.usuarioId==mensaje.emisor)==false">{{mensaje.usuario}}:
        </ion-label>
        <ion-label class="textoMensaje">{{mensaje.texto}}</ion-label>
        <ion-label class="horaMensaje">{{mensaje.hora | date:'mediumDate'}}</ion-label>
      </div>
    </div>
    <div class="contenedorEnviar">
      <ion-item color="primary">
        <ion-input class="inputMensaje" placeholder="Ingrese su mensaje" [(ngModel)]="nuevoMensaje"
          maxlength="21"></ion-input>
        <ion-img src="/assets/send-icon.png" (click)="enviarMensaje()" class="iconoEnviar"></ion-img>
      </ion-item>
    </div>
  </div>
</ion-content>