@import url('https://fonts.googleapis.com/css2?family=Mukta&display=swap');
ion-content {
    --ion-background-color: rgb(77, 106, 185);
    overflow: hidden;
    font-family: 'Mukta', sans-serif;
}
.iconoBack {
    width: 30px;
    position: relative;
}

.titulo {
    text-align: center;
    font-size: 20px;
}

.chatCompleto {
    height: 100%;
    overflow: hidden;
}

.contenedorMensajes {
    overflow-y:scroll;
    height: 91.3%;
}

.contenedorEnviar {
    position: absolute;
    bottom:0px;
    width: 100%;
}

.iconoEnviar {
    width: 30px;
}

.iconoEnviar:active {
    transform: scale(0.9);
}

.inputMensaje {
    width: 75%;
    margin-right: 10%;
    background-color: #fff;
    border-style: none;
    border-radius: 10px;
    height: 40px;
    color: black;
    margin-left: 5%;
    margin-bottom: 2%;;
    margin-top: 3%;
}

.enviado {
    display: block;
    float: right;
    background-color: rgb(199, 83, 83);
    color: white;
    min-width: 50.01%;
    border-radius: 10px;
    text-align: left;
    padding: 7px 7px 7px 7px;
    margin-top:0.5%;
    margin-bottom: 0.8%;
    margin-right: 1%;
    margin-left: 5%;
}

.recibido {
    display: block;
    float: left;
    background-color: rgb(42, 42, 141);
    color: rgb(255, 255, 255);
    min-width: 50.01%;
    border-radius: 10px;
    text-align: left;
    padding: 7px 7px 7px 7px;
    margin-top:0.5%;
    margin-bottom: 0.8%;
    margin-left: 1%;
    margin-right: 5%;
    white-space: pre-wrap;
}

.usuarioMensaje {
    font-size: 15px;
    color: rgb(224, 96, 96);
    font-weight: 500;
    position: relative;
    width: 100%;
    display: block;
    font-family: 'Mukta', sans-serif;
}

.textoMensaje{
    font-size: 14px;
    font-family: 'Mukta', sans-serif;
}

.horaMensaje {
    position: relative;
    color: rgb(187, 187, 187);
    font-size: 13px;
    float:right;
    margin-top:1%;
    margin-left:1%;
}