<ion-grid class="gridVertical">
  <ion-row style="flex-grow: 1;" class="fila">
    <ion-col class="caja" style="margin-right:10px;" (click)="reproducirSonido('rosa')">
      <div align="center" class="contenedorImagen">
        <img src="../../../assets/colores/rosa.png" class="fotos" alt="">
      </div>
    </ion-col>
    <ion-col class="caja" (click)="reproducirSonido('verde')">
      <div align="center" class="contenedorImagen">
        <img src="../../../assets/colores/verde.png" class="fotos" alt="">
      </div>
    </ion-col>
  </ion-row>
  <ion-row style="flex-grow: 1;" class="fila">
    <ion-col class="caja" style="margin-right:10px;" (click)="reproducirSonido('rojo')">
      <div align="center" class="contenedorImagen">
        <img src="../../../assets/colores/rojo.png" class="fotos" alt="">
      </div>
    </ion-col>
    <ion-col class="caja" (click)="reproducirSonido('celeste')">
      <div align="center" class="contenedorImagen">
        <img src="../../../assets/colores/celeste.png" class="fotos" alt="">
      </div>

    </ion-col>
  </ion-row>
  <ion-row style="flex-grow: 1;" class="fila">
    <ion-col size="12" class="cajaFinal" (click)="reproducirSonido('amarillo')">
      <div align="center" class="contenedorImagen">
        <img src="../../../assets/colores/amarillo.png" class="fotoFinal" alt="">
      </div>
    </ion-col>
  </ion-row>
</ion-grid>

<ion-grid class="gridHorizontal">
  <ion-row style="flex-grow: 1;">
    <ion-col class="caja2" style="margin-right:10px;" (click)="reproducirSonido('rosa')">
      <div align="center" class="contenedorImagen">
        <img src="../../../assets/colores/rosa.png" class="fotosHorizontales" alt="">
      </div>
    </ion-col>
    <ion-col class="caja2" style="margin-right:10px;" (click)="reproducirSonido('verde')">
      <div align="center" class="contenedorImagen">
        <img src="../../../assets/colores/verde.png" class="fotosHorizontales" alt="">
      </div>
    </ion-col>
    <ion-col class="caja2" style="margin-right:10px;" (click)="reproducirSonido('rojo')">
      <div align="center" class="contenedorImagen">
        <img src="../../../assets/colores/rojo.png" class="fotosHorizontales" alt="">
      </div>
    </ion-col>
  </ion-row>
  <ion-row style="flex-grow: 1;">
    <ion-col class="caja2" style="margin-right:10px;" (click)="reproducirSonido('celeste')">
      <div align="center" class="contenedorImagen">
        <img src="../../../assets/colores/celeste.png" class="fotos2Horizontales" alt="">
      </div>
    </ion-col>
    <ion-col class="caja2" style="margin-right:10px;" (click)="reproducirSonido('amarillo')">
      <div align="center" class="contenedorImagen">
        <img src="../../../assets/colores/amarillo.png" class="fotos2Horizontales" alt="">
      </div>
    </ion-col>
  </ion-row>
</ion-grid>