<ion-grid class="gridVertical">
  <ion-row style="flex-grow: 1;">
    <ion-col class="caja" style="margin-right:10px;" (click)="reproducirSonido('jabali')">
      <div align="center" class="contenedorImagen">
        <img src="../../../assets/animales/boar.png" class="fotos" alt="">
      </div>  
    </ion-col>
    <ion-col class="caja" (click)="reproducirSonido('serpiente')">
      <div align="center" class="contenedorImagen">
        <img src="../../../assets/animales/snake.png" class="fotos"alt="">
      </div>  
    </ion-col>
  </ion-row>
  <ion-row style="flex-grow: 1;">
    <ion-col class="caja" style="margin-right:10px;" (click)="reproducirSonido('gallina')">
      <div align="center" class="contenedorImagen">
        <img src="../../../assets/animales/chicken.png" class="fotos" alt="">
      </div>   
    </ion-col>
    <ion-col class="caja" (click)="reproducirSonido('leon')">
      <div align="center" class="contenedorImagen">
        <img src="../../../assets/animales/lion.png" class="fotos" alt="">
      </div>  
    </ion-col>
  </ion-row>
  <ion-row style="flex-grow: 1;">
      <ion-col size="12" class="cajaFinal" (click)="reproducirSonido('ciervo')">
        <div align="center" class="contenedorImagen">
          <img src="../../../assets/animales/deer.png" class="fotoFinal" alt="">
        </div>
      </ion-col>
  </ion-row>
</ion-grid>

<ion-grid class="gridHorizontal">
  <ion-row style="flex-grow: 1; height: 50%;">
    <ion-col class="caja2" style="height: 100%; margin-right: 2%;" (click)="reproducirSonido('jabali')">
      <div align="center" style="width: 100%; height: 100%;" >
        <img src="../../../assets/animales/boar.png" class="fotos" alt="">
      </div>  
    </ion-col>
    <ion-col class="caja2" style="height: 100%; margin-right: 2%;" (click)="reproducirSonido('serpiente')">
      <div align="center" style="width: 100%; height: 100%;" >
        <img src="../../../assets/animales/snake.png" class="fotos" alt="">
      </div>  
    </ion-col>
    <ion-col class="caja2" style="height: 100%;" (click)="reproducirSonido('gallina')">
      <div align="center" style="width: 100%; height: 100%;" > 
        <img src="../../../assets/animales/chicken.png" sclass="fotos" alt="">
      </div>   
    </ion-col>
  </ion-row>
  <ion-row style="flex-grow: 1; height: 50%; margin-top: 2%;">
    <ion-col class="caja2" style="height: 100%; margin-right: 2%;" (click)="reproducirSonido('leon')">
      <div align="center" style="width: 100%; height: 100%;" >
        <img src="../../../assets/animales/lion.png" class="fotos" alt="">
      </div>  
    </ion-col>
    <ion-col class="caja2" style="height: 100%;" (click)="reproducirSonido('ciervo')">
      <div align="center" style="width: 100%; height: 100%;" >
        <img src="../../../assets/animales/deer.png" class="fotoFinal"  alt="">
      </div>
    </ion-col>
  </ion-row>
</ion-grid> 
 