<ion-grid class="gridVertical">
  <ion-row style="flex-grow: 1;">
    <ion-col class="caja" style="margin-right:10px;" (click)="reproducirSonido('jabali')">
      <div align="center" class="contenedorImagen">
        <img src="../../../assets/animales/boar.png" class="fotos" alt="">
      </div>  
    </ion-col>
    <ion-col class="caja" (click)="reproducirSonido('serpiente')">
      <div align="center" class="contenedorImagen">
        <img src="../../../assets/animales/snake.png" class="fotos"alt="">
      </div>  
    </ion-col>
  </ion-row>
  <ion-row style="flex-grow: 1;">
    <ion-col class="caja" style="margin-right:10px;" (click)="reproducirSonido('gallina')">
      <div align="center" class="contenedorImagen">
        <img src="../../../assets/animales/chicken.png" class="fotos" alt="">
      </div>   
    </ion-col>
    <ion-col class="caja" (click)="reproducirSonido('leon')">
      <div align="center" class="contenedorImagen">
        <img src="../../../assets/animales/lion.png" class="fotos" alt="">
      </div>  
    </ion-col>
  </ion-row>
  <ion-row style="flex-grow: 1;">
      <ion-col size="12" class="cajaFinal"  (click)="reproducirSonido('ciervo')">
        <div align="center" class="contenedorImagen">
          <img src="../../../assets/animales/deer.png" class="fotoFinal" alt="">
        </div>
      </ion-col>
  </ion-row>
</ion-grid>

<ion-grid class="gridHorizontal">
  <ion-row style="flex-grow: 1;">
    <ion-col class="caja2" style="margin-right:10px;"  (click)="reproducirSonido('jabali')">
      <div align="center" class="contenedorImagen" >
        <img src="../../../assets/animales/boar.png" class="fotosHorizontales" alt="">
      </div>  
    </ion-col>
    <ion-col class="caja2" style="margin-right:10px;"  (click)="reproducirSonido('serpiente')">
      <div align="center" class="contenedorImagen">
        <img src="../../../assets/animales/snake.png" class="fotosHorizontales" alt="">
      </div>  
    </ion-col>
    <ion-col class="caja2"  style="margin-right:10px;" (click)="reproducirSonido('gallina')">
      <div align="center" class="contenedorImagen"> 
        <img src="../../../assets/animales/chicken.png" class="fotosHorizontales" alt="">
      </div>   
    </ion-col>
  </ion-row>
  <ion-row style="flex-grow: 1;">
    <ion-col class="caja2" style="margin-right:10px;"  (click)="reproducirSonido('leon')">
      <div align="center" class="contenedorImagen">
        <img src="../../../assets/animales/lion.png" class="fotos2Horizontales" alt="">
      </div>  
    </ion-col>
    <ion-col class="caja2" style="margin-right:10px;"  (click)="reproducirSonido('ciervo')">
      <div align="center" class="contenedorImagen">
        <img src="../../../assets/animales/deer.png" class="fotos2Horizontales"  alt="">
      </div>
    </ion-col>
  </ion-row>
</ion-grid> 
 